<!DOCTYPE html>
<html>
<head>
	<title></title>
		<!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">

<!-- Compressed JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>

<style>
.error {
	background-color: red;
}
.success {
	background-color:green;
}
</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="small-12 colums">
			{%with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<div class="errors">
						<ul>
						 {% for category, message in messages %}
						 	<li class="{{category}}">{{message}}</li>
						 {%endfor%}
						 </ul>
					</div>
				{%endif%}
			{%endwith%}
		</div>	
	</div>
	<div class="row">
		<div class="small-12 column">
		<h1> Emails</h1>
			<table class="hover">
				<thead>
					<th>Email Address</th>
					<th>Date Created</th>
					<th>Actions</th>
				</thead>
				<tbody>
					{%if emails%}
						{%for email in emails%}
						 <tr>
						 	<td>{{email['email_address']}}</td>
						 	<td>{{email['created_at']}}</td>
						 	<td><a href="/remove/{{email['id']}}">Remove</a></td>
						 </tr>
						 {%endfor%}
					{%endif%}
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>